
body{
    background-color: #0F001C;
}
a{
    cursor: pointer;
}
.login{
    width: 450px;
    margin:  auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    background-color: white;

}
.space{
    margin: 20px ;
}
input{
    display: block;
    border: none ;
    margin-top: 8px ;
    margin-left: 30px;
} 
.link-f{
    margin-left: 240px;
}
.btn-f{
    padding: 15px 80px;
    background-color: #FAAB06;
    border: none;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.btn-s{
 background-color: rgb(89, 89, 201);
 border: none;
 padding: 10px; 
 margin-left: 90px;
 margin-right: 10px;
}
.btn-t{
background-color: #E87D52;
border: none;
padding: 10px; 
}
 button a{

color: white;
font-weight: bold;
font-size: 18px;
}
hr{
    width: 330px;
}
a{
    text-decoration: none;
    color: rgb(78, 78, 78);
}
.p-f{
    display: inline;
    margin-left: 90px;
}
.p-s{
    margin-left: 200px;
    font-size: 20px;
}
.p-t{
    margin-left: 160px;
    font-size: 20px;
}
.cr-pass{
    color: #E87D52;
}
p{
    color: rgb(78, 78, 78);
}






.ff{
    margin-left: 115px;
}
hr{
    border: 0.1px solid  gray ;
}
.second-page .ff {
 border-bottom: 2px solid rgb(148, 145, 145) ;
 display: inline;
 margin-left: 25px;
}
.second-page input{
   margin: 10px ;
   margin-left: 30px;
}
 input:active {
 border: none;
}
.second-page hr{
    width: 350px;
}
.second-page a{

}
.ml-f{
    margin-left: 110px;
}
.logo-auto{
    width: 120px;
    margin: 80px auto 10px auto;
  
}
 img{
    width: 100px;
    height: 120px;
}

.third-form input  {
    margin-top: 40px;
}
.third-form .ff{
    margin-left: 57px;
}
.register{
    margin-left: 160px;
}
.nav-left {
    float: left;
    width: 50%; 
    margin-right: 40px;
    width: 38%;
    margin-left: 25px;
}
.nav-right{
   
    margin-left: 380px;
    width: 30%;
}
.navigation{
    display: flex; 
    

}
.logo{
    float: left; 
    margin-left: 30px;
    margin-top: 25px;
    width: 20%;
}
.navigation-ul{
    float: right;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 55px;
} 
.navigation-ul li {
list-style: none;
padding-left: 5px;
padding-right: 10px;
}

.navigation-ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
} 
.navigation-ul li a:hover{
color: #E87D52 ;
}

.nav-right ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px; 
}
.nav-right ul li{
    list-style: none;
    padding-right: 23px;
   
}
.nav-right ul li a:hover{
   color:#E87D52 ;
}
.nav-right ul li input{
    background-color: #0F001C;
    border-bottom: 1px solid #FAAB06;
}
.nav-right ul a{
     text-decoration: none;
     color: white;
     font-weight: bold;
}
.nav-right::placeholder{
    color: white;
    font-weight: bold;
}

.dropdown-item{
    color: black;
}
.dropdown-item:hover{
    background-color: #E87D52;
} 

.home{
    background-image: url(../images/auto-front.png);
    background-position: center;
    background-size: cover;
    height: 550px; 
}
.home-bg{
    float: right;
    margin-right: 120px;
}
.home p{
 color: rgb(151, 145, 145);
 font-size: 20px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 padding-right: 20px;
 
}
.home img{
    width: 150px;
    height: 180px;
    margin-top: 100px;
    margin-left: 70px; 
}
.home button{
    margin-left: 45px;
    border-radius: 50px;
    border: none;
    background-color:#FAAB06 ;
    color: white;
    padding: 7px 50px;
    margin-top: 10px;
} 
.home button a {
    text-decoration: none;
    color: white;
    font-size: 23px;
}


.categories {
    background-color: rgb(243, 240, 240);
    
} 
.categories  h2{
    margin-left: 680px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.categories .all{
   
    margin: 10px 280px; 
    display: flex;
}
.cat-1{
    width: 170px;
    height: 170px;
    background-color: #F4BD5B;
    border-radius: 20px; 
    margin: 10px 10px;
  
}
.cat-1 img{
    width: 110px;
    height: 100px;
    margin-top: 24px;
    margin-left: 27px ;
} 
.cat-1 p {
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding-left: 50px;
}
.c2 p{
padding-left: 26px;
}
.c3 p{
    padding-left: 32px;
}
 
.c4 p{
    padding-left: 44px;
    font-size: 21px;
}
 
.c5 p{
    padding-left: 25px;
    margin-top: 10px;
 
}
.c5 img{
    margin-top: 15px;
    }

   .best h2{
       margin: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
   }
 
.end{
    background-color: white;
} 
 .all .dd{
 margin-bottom: 50px;
}










.shop{
    background-color: rgb(233, 229, 229);
     height: 1900px;
    
}
.shop h4{
    color: gray;
    font-weight: bold;
    font-size: 60px;
    font-family: monospace;
    letter-spacing: 1px;
    margin-left: 150px;
    padding-top: 40px
}
.shop select{
    margin-top: 40px;
    font-size: 23px;
    font-weight: bold;
    padding:2px 30px;
    border: none;
    background-color: rgb(233, 229, 229);
    border-bottom: 3px solid rgb(131, 127, 127);
    margin-left: 220px;
    color: gray;
} 

.inp-shop {
     margin-left: 300px;
     margin-top: 40px;
     display: flex;
}
.inp-shop i{
    margin-top: 17;
    margin-right: 5px;
    color: gray;
}
.inp-shop input{
    
    background-color: rgb(233, 229, 229);
    border-bottom: 3px solid rgb(131, 127, 127);
}
.inp-shop  ::placeholder{
    color: gray;
    font-weight: bold;
    font-size: 20px;
    padding: 3px;
} 
 .nav-right ::placeholder{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 3px;
}
.shop-items{
    background-color: white;
    margin: 40px 70px; 
    box-shadow: 0 4px 12px #525d5f;
}
.item{
 padding: 30px 30px 20px 40px;
}
.f-i{
    padding-top: 50px;
} 
.img{
    padding: 20px 20px 10px 20px;
}
.disc{
    width: 70%;
}
.disc h2{
    padding-top: 10px;
    padding-bottom: 0px;
   

}
.disc p {
    margin-top: 0px;
    padding-top: 0px;
   
}
 .price{
   padding: 13px 20px 10px 70px
}
.price p {
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
}
.price button {
    background-color:#f77428 ;
    border: none; 
    padding: 10px 15px; 
    border-radius: 10px;
    transition:  ease-in-out 0.3s;
} 
.price button:hover{
    
     transform: scale(1.2);
}
.price button a {
    text-decoration: none;
    color: white;
}
 .shop hr {
    width: 880px; 
    border:  1px solid gray;
}
.div-count{
    margin: 60px 600px ;
    padding: 20px;
    margin-bottom: 30px;
}
  .count {
     background-color: #f77428 ;
     border: none;
     border-radius: 10px;
}
.count a{
    text-decoration: none;
    color: white;
    padding:  9px;
    font-size: 20px;
}
.tt{
  background-color: #eee;
} 
.cart {
    margin-left: 80px;
} 
.cart .add p {
    color: gray;
    font-weight:bold;
    padding-top: 10px;
}
.add{
    margin-right: 60px;
    margin-top: 25px;
}
.cart .add button{
   
    margin-right: 10px;
    background-color:#f77428 ;
    border: none; 
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.cart .add button a{
    text-decoration: none;
    color: white;
  
} 
.cart .add button i {
    font-size: 14px;
}
.pp{
    margin-left: 25px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.cost{
    margin-bottom: 100px;
}
.cost h3{
    margin-left: 80px;
    padding-top: 10px;
    margin-bottom: 40px;
}
.cost input{
    background-color:#f77428  ;
    color: white;
    font-weight: bold;
    padding:7px 15px; 
    margin-left: 865px;
}

.success{
    color: green;
}
.error
{
    color: red;
}
.contact{
    background-color:#0F001C;
}
.contact h1{
    color: white;
}

.contact hr{
  width: 190px;
  border: 2.5px solid white;
  margin-left: 4px;
}

.contact p {
  color: white;
  font-size: 22px;
  line-height: 35px;
  margin-left: 7px;
}
.contact-us{
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom:30px;
} 
.icons-h5{
    margin-left: 750px;
    margin-top: 100px;
}
.icons-h5 h5{
    color: white;
    font-size: 22px ;
}
.icons a {
   text-decoration: none;
   color: white;
   margin: 10px 2px;
  
}

.img-h6{
    margin-left: 80px;
    margin-top: 60px;
}
.img-h6 img{
    margin-left: 10px;
    width: 140px;
    height: 140px;
}
.img-h6 h6{
    color: white;
    font-size: 24px;
}






